ul {
    list-style-type: none;
    overflow: hidden;
    background-color: black;
}
a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
    font-size: 18px;
}

a:hover {
    background-color:red;
}

table, th, td {
    border : 1px solid white;
}
table{
    background-color: black;
    width: 50%;
}

th{
    color: red;
    background-color: black;
}

tr{
    background-color: red;
}